.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
paper/gaze-following-paper_blinded_cache/latex/coef_table_duration_e4b6f8890f6c14a5cffcb14a4487eedb.rdb
paper/gaze-following-paper_blinded_cache/latex/coef_table_duration_e4b6f8890f6c14a5cffcb14a4487eedb.rdx
paper/gaze-following-paper_blinded_cache/latex/coef_table_firstshift_757eb57faba2e0bd549c9f59bd45305f.RData
paper/gaze-following-paper_blinded_cache/latex/coef_table_firstshift_757eb57faba2e0bd549c9f59bd45305f.rdb
